<!-- User Account Menu -->
<li class="dropdown user user-menu">
    <script src="/web/asses/js/login.js"></script>
    <!-- Menu Toggle Button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <!-- The user image in the navbar-->
        <img src="http://fr.gravatar.com/avatar/visitor" class="img-circle user-image" alt="User Image">

        <!-- hidden-xs hides the username on small devices so only the image appears. -->
        <span class="hidden-xs">Unknown user</span>
    </a>
    <ul class="dropdown-menu">
        <!-- The user image in the menu -->
        <li class="user-header">
            <img src="http://fr.gravatar.com/avatar/visitor" class="img-circle" alt="User Image">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="mail" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="mail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="pass" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="pass" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="signIn" type="submit" class="btn btn-default">Sign in</button>
                    </div>
                </div>
            </form>
        </li>

        <script type="text/javascript">
            $(document).ready(function() {
                $("#signIn").click(function () {
                    mail = $('#mail').val();
                    pass = $('#pass').val();
                    checkLogin(mail, pass);
                });
            })
        </script>


        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="text-center">
                <a href="/logintest" class="btn btn-default btn-flat">Login test</a>
            </div>
        </li>
    </ul>
</li>
