<!-- User Account Menu -->
<li class="dropdown user user-menu">
    <!-- Menu Toggle Button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <!-- The user image in the navbar-->
        <img src="http://fr.gravatar.com/avatar/visitor" class="img-circle user-image" alt="User Image">

        <!-- hidden-xs hides the username on small devices so only the image appears. -->
        <span class="hidden-xs">Unknown user</span>
    </a>
    <ul class="dropdown-menu">
        <!-- The user image in the menu -->
        <li class="user-header">
            <img src="http://fr.gravatar.com/avatar/visitor" class="img-circle" alt="User Image">

            <p>
                Please login.
            </p>
        </li>

        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="text-center">
                <a href="/logintest" class="btn btn-default btn-flat">Login test</a>
            </div>
        </li>
    </ul>
</li>
